*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI, sans-serif;
}
body{
  background:#f4f4f4;
}
nav{
  display:flex;
  justify-content:space-between;
  padding:20px;
  background:#000;
  color:#fff;
}
nav a{
  color:white;
  margin-left:15px;
  text-decoration:none;
}
nav :hover{
  color: green;
  touch-action: manipulation;
  border-radius: 2%;
  border-color: green;
}
.hero{
  padding:100px 20px;
  background:#111;
  color:white;
  text-align:center;
  background-image: ;
}
.btn{
  padding:12px 25px;
  border-radius:30px;
  margin:10px;
  display:inline-block;
  text-decoration:none;
}
.call{background:white;color:black;}
.whatsapp{background:#25d366;color:white;}
.gallery{
  padding:60px 20px;
  text-align:center;
}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:10px;
}
.grid img{
  width:100%;
  border-radius:18px;
}
.contact{
  padding:60px 20px;
  background:white;
  text-align:center;
}
form{
  max-width:400px;
  margin:auto;
}
input,textarea,button{
  width:100%;
  padding:12px;
  margin:10px 0;
}
footer{
  background:black;
  color:white;
  text-align:center;
  padding:15px;
}
